body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('./images/wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

#main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#back-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h3 {
    color: #05060f99;
}

.btn {
    background-color: #4FACF7;
    width: 250px;
    height: 40px;
    border-radius: .4rem;
    border: none;
    margin-top: 1rem;
}

.btn-text{
    color:  #f0f0f0;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}