body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url("images/wave2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 , h4 , p{
    color: #05060f99;
}

.main-block {
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.page-top {
    margin-bottom: 20px; 
}


#logo-coren {
    width: 50%;
    max-width: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.input {
    max-width: 190px;
    height: 44px;
    background-color: #2f2f313f;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    margin-bottom: 0.5rem; 
}
  
.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
}
  
.input-group:hover .input:not(:hover) {
    border-color: transparent;
}

.input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
}
  
.input-group:hover, .input:focus {
    color: #05060fc2;
}

#btn-submit {
    background-color: #4FACF7;
    width: 100%;
    height: 40px;
    border-radius: .4rem;
    border: none;
}

#btn-text{
    color:  #f0f0f0;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#btn-submit:hover{
    cursor: pointer;
    opacity: 0.8;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    background-color: #f0f0f0; 
}